<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BitMiracle.LibTiff.NET" version="2.4.560" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.5" targetFramework="net48" />
  <package id="SharpAvi" version="3.0.1" targetFramework="net461" />
  <package id="SharpCompress" version="0.49.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="10.0.5" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Resources.Extensions" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="10.0.5" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="10.0.5" targetFramework="net48" />
  <package id="System.Text.Json" version="10.0.5" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.2" targetFramework="net48" />
  <package id="ZstdSharp.Port" version="0.8.7" targetFramework="net48" />
</packages>
