<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FLIMimage.Properties.Settings.EventNotificationTableConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\EventNotificationTable.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <runtime>
      <gcAllowVeryLargeObjects enabled="true"/>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">            
        </assemblyBinding>
    </runtime>
</configuration>
